<div class='div-info'>
  <h1>Datos del proyecto</h1>

  <table class='info-table'>
    <tr>
      <td>Argumentos de entrada</td>
      <td>{{data.ARGS}}</td>
    </tr>
    <tr>
      <td>Sistema operativo</td>
      <td>{{data.OS}}</td>
    </tr>
    <tr>
      <td>Version node</td>
      <td>{{data.NODEV}}</td>
    </tr>
    <tr>
      <td>Memoria reservada</td>
      <td>{{data.MEMORY}}</td>
    </tr>
    <tr>
      <td>Path de ejecución</td>
      <td>{{data.PATH}}</td>
    </tr>
    <tr>
      <td>Process id</td>
      <td>{{data.PID}}</td>
    </tr>
    <tr>
      <td>Carpeta del proyecto</td>
      <td>{{data.FOLDER}}</td>
    </tr>
    <tr>
      <td>Numero de cpus</td>
      <td>{{data.numCPUs}}</td>
    </tr>
  </table>
</div>