<script src="../public/index.js"></script>

{{>navbar}}

<div class="mainChat">
  <h1>Chats</h1>

{{#with user}}
  {{#if this.isAdmin}}
    <h3>Hola {{this.name}}. Centro de consultas</h3>
  {{else}}
    <h3>Hola {{this.name}}. ¿Tienes algun problema? Un administrador le contestara en instantes...</h3>
  {{/if}}

  <a href="/chat/{{this.email}}" class="btn" >Historial</a>

  <form onsubmit="return newChat()">
    <input type="hidden" id="email" value="{{this.email}}">
    <input type="hidden" id="admin" value="{{this.isAdmin}}">
    {{#if this.isAdmin}}
    <input type="submit" value="Abrir chat" class="btn" onclick="showChat()">
    {{else}}
    <input type="submit" value="Iniciar chat" class="btn" onclick="showChat()">
    {{/if}}
  </form>

  {{#if this.isAdmin}}
    <ul id="usersList"></ul>
  {{else}}
    <ul id="usersList" style="visibility: hidden;"></ul>
  {{/if}}
  <form onsubmit="return sendMsg()" id="msg-form" style="visibility: hidden; display: flex; gap: 1rem;" class="chatForm">
    <input type="text" id="message" placeholder="Ingrese su mensaje" class="msg">
    <input type="submit" value="Enviar" class="btn">
  </form>

  <ul id="messages"></ul>
{{/with}}

</div>