<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <h1>Listado de productos</h1>

    <% products.forEach((item)=>{ %>
    <p>
      id: <%=item.id%><br />
      titulo: <%=item.title%><br />
      price: <%=item.price%><br />
      <img class="product-img" src="<%=item.thumbnail %>" /><br />
    </p>
    <% }) %>

    <a href="/form">
      <input type="button" value="Cargar producto" />
    </a>

    <%- include('../partials/footer'); %>
  </body>
</html>
